.page.js_show.loadmore

  .page__hd
    h1.page__title Loadmore   
    p.page__desc 加载更多
 
  .page__bd
    .weui-loadmore
      i.weui-loading      
      span.weui-loadmore__tips 正在加载

    .weui-loadmore.weui-loadmore_line
      span.weui-loadmore__tips 暂无数据
 
    .weui-loadmore.weui-loadmore_line.weui-loadmore_dot
      span.weui-loadmore__tips
