.weui-skin_android(style="opacity:1")
  .weui-mask

  .weui-actionsheet
    .weui-actionsheet__menu
      .weui-actionsheet__cell All
      .weui-actionsheet__cell Active
      .weui-actionsheet__cell Completed