doctype html
html
  head
    link(
    rel="stylesheet"
    href="../../dist/todos/todos.css"			
    )
  body
    .page.home.js_show
      .page__hd
        h1.page__title(style="font-size:21px; color:#c7c7cc") Todos
      include ./intds1.pug