.page.js_show

  .page__hd
    h1.page__title Icons       
    p.page__desc 图标
  
  .page__bd.page__bd_spacing
    .icon-box
      i.weui-icon-success.weui-icon_msg         
      .icon-box__ctn
        h3.icon-box__title 成功          
        p.icon-box__desc 用于表示操作顺利达成
  
    .icon-box
      i.weui-icon-info.weui-icon_msg       
      .icon-box__ctn
        h3.icon-box__title 提示      
        p.icon-box__desc 用于表示信息提示；也常用于缺乏条件的操作拦截，提示用户所需信息

    .icon-box
      i.weui-icon-warn.weui-icon_msg-primary        
      .icon-box__ctn
        h3.icon-box__title 普通警告       
        p.icon-box__desc 用于表示操作后将引起一定后果的情况

    .icon-box
      i.weui-icon-warn.weui-icon_msg
      .icon-box__ctn
        h3.icon-box__title 强烈警告
        p.icon-box__desc 用于表示操作后将引起严重的不可挽回的后果的情况

    .icon-box
      i.weui-icon-waiting.weui-icon_msg    
      .icon-box__ctn
        h3.icon-box__title 等待       
        p.icon-box__desc 用于表示等待

    .icon_sp_area
      i.weui-icon-success    
      i.weui-icon-success-no-circle        
      i.weui-icon-circle
      i.weui-icon-warn
      i.weui-icon-download
      i.weui-icon-info-circle
      i.weui-icon-cancel
      i.weui-icon-search
