.page.flex.js_show
  .page__hd
    h1.page__title Flex
    |         
    p.page__desc Flex布局
  |     
  .page__bd.page__bd_spacing
    .weui-flex
      .weui-flex__item
        .placeholder weui
    |         
    .weui-flex
      .weui-flex__item
        .placeholder weui
      |             
      .weui-flex__item
        .placeholder weui
    |         
    .weui-flex
      .weui-flex__item
        .placeholder weui
      |             
      .weui-flex__item
        .placeholder weui
      |             
      .weui-flex__item
        .placeholder weui
    |         
    .weui-flex
      .weui-flex__item
        .placeholder weui
      |             
      .weui-flex__item
        .placeholder weui
      |             
      .weui-flex__item
        .placeholder weui
      |             
      .weui-flex__item
        .placeholder weui
    |         
    .weui-flex
      div
        .placeholder weui
      |             
      .weui-flex__item
        .placeholder weui
      |             
      div
        .placeholder weui
  |     
  .page__ft
    a(href="javascript:home()")
      img(src="./images/icon_footer_link.png")
