ul
  li
    label.weui-cell.weui-check__label
      .weui-cell__bd
        p All

    label.weui-cell.weui-check__label
      .weui-cell__bd
        p Active

    label.weui-cell.weui-check__label
      .weui-cell__bd
        p Completed

  li
    include ../todos_check/index04