div
  .weui-mask(style="opacity:1")


  .weui-actionsheet.weui-actionsheet_toggle
    .weui-actionsheet__title
      p.weui-actionsheet__title-text 这是一个标题，可以为一行或者两行。

    .weui-actionsheet__menu
      .weui-actionsheet__cell All
      .weui-actionsheet__cell Active
      .weui-actionsheet__cell Completed

    .weui-actionsheet__action
      .weui-actionsheet__cell 取消