.weui-cell.weui-cell_select.weui-cell_select-before
  .weui-cell__bd
    input.weui-input(
      type="text"
      placeholder="What needs to be done?"
    )

  .weui-cell__hd.weui-cell-down
    select.weui-select
      option(value="1") All
      option(value="2") Active
      option(value="3") Completed