doctype html
html
  head
    include ../../weui/style/common/style_link
  body
    .page.js_show.home

      include ../../weui/style/common/title

      .page__bd.weui-cells_checkbox
        .weui-cells.weuiweui
          .weui-cell.weui-cell_select.weui-cell_select-before

            .weui-cell__bd
              include ../../weui/style/common/input_todo

            .weui-cell__hd.weui-cell-down
              select.weui-select

          include ../../weui/style/common/todos_check/index
          include ../../weui/style/common/todos_android/todos_android



