doctype html
html
  head
    include ../common/style_link
  body
    .page.js_show.home

      include ../common/title

      .page__bd.weui-cells_checkbox
        .weui-cells.weuiweui
          .weui-cell.weui-cell_select.weui-cell_select-before

            .weui-cell__bd
              include ../common/input_todo

            .weui-cell__hd.weui-cell-down
              select.weui-select

          include ../common/todos_check/index
          include ../common/todos_android/todos_android



