label.weui-cell.weui-check__label
	.weui-cell__hd
		input.weui-check(
			type="checkbox", name="checkbox1"
		)
		i.weui-icon-checked.weui-cell-success
				
	.weui-cell__bd
		p 正常

label.weui-cell.weui-check__label
	.weui-cell__bd
		p 正常