label.weui-cell.weui-cell_swiped

	.weui-cell__bd(
		style="transform: translateX(-68px)"
	)

		.weui-cell
			.weui-cell__bd
				//- p 标题文字                       
			.weui-cell__ft 说明文字
				
	.weui-cell__ft
		a.weui-swiped-btn.weui-swiped-btn_warn 删除