label.weui-cell.weui-check__label

	.weui-cell__hd
		input.weui-check(
		  type="checkbox"
		  name="checkbox1"
		  checked="checked"
		)                   
		i.weui-icon-checked.weui-cell-success
				
	.weui-cell__bd
		p.weui-cell-p.weui-cell-p2 完成
