.page.js_show

  .page__hd
    h1.page__title Gallery     
    p.page__desc 画廊，可实现上传图片的展示或幻灯片播放

  .weui-gallery(
      style="display: block"
	)
    span.weui-gallery__img(
			style="background-image: url(../../../../../node_modules/weui/src/example/images/pic_article.png);"
		)
   
    .weui-gallery__opr
      a.weui-gallery__del
        i.weui-icon-delete.weui-icon_gallery-delete
