.page.js_show.navbar

  .page__bd(
		style="height: 100%;"
	)
    .weui-tab
      .weui-navbar
        .weui-navbar__item.weui-bar__item_on
          | 选项一                
        .weui-navbar__item
          | 选项二             
        .weui-navbar__item
          | 选项三
          
      .weui-tab__panel

