.page.js_show

  .page__hd
    h1.page__title Preview    
    p.page__desc 表单预览

  .page__bd
    .weui-form-preview

      .weui-form-preview__hd

        .weui-form-preview__item
          label.weui-form-preview__label 付款金额               
          em.weui-form-preview__value ¥2400.00
      
      .weui-form-preview__bd

        .weui-form-preview__item
          label.weui-form-preview__label 商品           
          span.weui-form-preview__value 电动打蛋机
           
        .weui-form-preview__item
          label.weui-form-preview__label 标题标题                
          span.weui-form-preview__value 名字名字名字
       
        .weui-form-preview__item
          label.weui-form-preview__label 标题标题     
          span.weui-form-preview__value 很长很长的名字很长很长的名字很长很长的名字很长很长的名字很长很长的名字

      .weui-form-preview__ft
        a.weui-form-preview__btn.weui-form-preview__btn_primary 操作 
    br
    .weui-form-preview

      .weui-form-preview__hd
        label.weui-form-preview__label 付款金额          
        em.weui-form-preview__value ¥2400.00
     
      .weui-form-preview__bd
        .weui-form-preview__item
          label.weui-form-preview__label 商品          
          span.weui-form-preview__value 电动打蛋机
   
        .weui-form-preview__item
          label.weui-form-preview__label 标题标题        
          span.weui-form-preview__value 名字名字名字
                
        .weui-form-preview__item
          label.weui-form-preview__label 标题标题               
          span.weui-form-preview__value 很长很长的名字很长很长的名字很长很长的名字很长很长的名字很长很长的名字
    
      .weui-form-preview__ft
        a.weui-form-preview__btn.weui-form-preview__btn_default 辅助操作  
        button.weui-form-preview__btn.weui-form-preview__btn_primary(type="submit") 操作

