doctype html
html
  head
  body
    ul
      li
        p Form
        ul
          li
            a(href=".././dist/widget/form/button/index.html") Button
          li
            a(href=".././dist/widget/form/input/index.html") Input
          li
            a(href=".././dist/widget/form/list/index.html") List
          li
            a(href=".././dist/widget/form/slider/index.html") Slider
          li
            a(href=".././dist/widget/form/uploader/index.html") Uploader
      li
        p basic_components
        ul
          li
            a(href=".././dist/widget/basic_components/article/index.html") Article
          li
            a(href=".././dist/widget/basic_components/badge/index.html") Badge
          li
            a(href=".././dist/widget/basic_components/flex/index.html") Flex
          li
            a(href=".././dist/widget/basic_components/footer/index.html") Footer
          li
            a(href=".././dist/widget/basic_components/gallery/index.html") Gallery
          li
            a(href=".././dist/widget/basic_components/grid/index.html") Grid
          li
            a(href=".././dist/widget/basic_components/lcons/index.html") Lcons
          li
            a(href=".././dist/widget/basic_components/loadmore/index.html") Loadmore
          li
            a(href=".././dist/widget/basic_components/panel/index.html") Panel
          li
            a(href=".././dist/widget/basic_components/preview/index.html") Preview
          li
            a(href=".././dist/widget/basic_components/progress/index.html") Progress        
      li
        p operation 
        ul
          li
            a(href=".././dist/widget/operation_feedback/actionsheet/index.html") Actionsheet
          li
            a(href=".././dist/widget/operation_feedback/dialog/index.html") Dialog
          li
            a(href=".././dist/widget/operation_feedback/msg/index.html") Msg
          li
            a(href=".././dist/widget/operation_feedback/picker/index.html") Picker
          li
            a(href=".././dist/widget/operation_feedback/toast/index.html") Toast        

      li
        p nav
        ul
          li
            a(href=".././dist/widget/nav/navbar/index.html") Navbar
          li
            a(href=".././dist/widget/nav/tabbar/index.html") Tabbar        
      li
        p search
        ul
          li
            a(href=".././dist/widget/search/searchbar/index.html") Search

      li
        p layers
        ul
          li
            a(href=".././dist/widget/layers/layers/index.html") layers        
