doctype html
html
  head
    link(
      rel="stylesheet"
      href="../todos/todos.styl"
    )
  body
    .page
      .page__hd
        h1.page__title
          img(src="../../../node_modules/weui/dist/example/images/logo.png")