.page.js_show.picker

  .page__hd
    h1.page__title Picker       
    p.page__desc 多列选择器，需要配合js实现

  .page__bd.page__bd_spacing
    a.weui-btn.weui-btn_default 单列选择器 
    a.weui-btn.weui-btn_default 日期选择器
