doctype html
html
  head
  body
    ul
      li
        a(href=".././dist/widget/basic_components/article/index.html") Article
      li
        a(href=".././dist/widget/basic_components/badge/index.html") Badge
      li
        a(href=".././dist/widget/basic_components/flex/index.html") Flex
      li
        a(href=".././dist/widget/basic_components/footer/index.html") Footer
      li
        a(href=".././dist/widget/basic_components/gallery/index.html") Gallery
      li
        a(href=".././dist/widget/basic_components/grid/index.html") Grid
      li
        a(href=".././dist/widget/basic_components/lcons/index.html") Lcons
      li
        a(href=".././dist/widget/basic_components/loadmore/index.html") Loadmore
      li
        a(href=".././dist/widget/basic_components/panel/index.html") Panel
      li
        a(href=".././dist/widget/basic_components/preview/index.html") Preview
      li
        a(href=".././dist/widget/basic_components/progress/index.html") Progress