doctype html
html
  head
  body
    ul
      li
        a(href=".././dist/widget/form/button/index.html") Button
      li
        a(href=".././dist/widget/form/input/index.html") Input
      li
        a(href=".././dist/widget/form/list/index.html") List
      li
        a(href=".././dist/widget/form/slider/index.html") Slider
      li
        a(href=".././dist/widget/form/uploader/index.html") Uploader