doctype html
html
  head
  body
    ul
      li
        p Form
        ul
          li
            a(href=".././dist/widget/form/button/index.html") Button
          li
            a(href=".././dist/widget/form/input/index.html") Input
          li
            a(href=".././dist/widget/form/list/index.html") List
          li
            a(href=".././dist/widget/form/slider/index.html") Slider
          li
            a(href=".././dist/widget/form/uploader/index.html") Uploader
      li
        a(href="../dist/basic_components.html") basic_components
      li
        a(href=".././dist/operation_feedback.html") actionsheet   
      li
        a(href=".././dist/nav.html") nav
      li
        a(href=".././dist/search.html") search
      li
        a(href=".././dist/layers.html") layers
