doctype html
html
  head
    link(
      rel="stylesheet"
      href="../../style/index.css"
    )
  body
    ul
      li
        a(href="./widget/form/button/index.html") 按钮
      li
        a(href="./widget/form/list/index.html") 列表  