doctype html
html
  head
  body
    ul
      li
        a(href=".././dist/widget/operation_feedback/actionsheet/index.html") Actionsheet
      li
        a(href=".././dist/widget/operation_feedback/dialog/index.html") Dialog
      li
        a(href=".././dist/widget/operation_feedback/msg/index.html") Msg
      li
        a(href=".././dist/widget/operation_feedback/picker/index.html") Picker
      li
        a(href=".././dist/widget/operation_feedback/toast/index.html") Toast