.page.js_show.actionsheet

  .page__hd
    h1.page__title ActionSheet   
    p.page__desc 弹出式菜单

  .page__bd.page__bd_spacing
    a.weui-btn.weui-btn_default iOS ActionSheet     
    a.weui-btn.weui-btn_default Android ActionSheet
  // BEGIN actionSheet
  div
    .weui-mask(
    	style="display: none"
    )
    .weui-actionsheet.weui-actionsheet_toggle

      .weui-actionsheet__title
        p.weui-actionsheet__title-text 这是一个标题，可以为一行或者两行。

      .weui-actionsheet__menu
        .weui-actionsheet__cell 示例菜单
        .weui-actionsheet__cell 示例菜单             
        .weui-actionsheet__cell 示例菜单              
        .weui-actionsheet__cell 示例菜单
       
      .weui-actionsheet__action
        .weui-actionsheet__cell 取消

//style="display: none"
.weui-skin_android(style="opacity:1")
    .weui-mask      
    .weui-actionsheet

      .weui-actionsheet__menu
        .weui-actionsheet__cell 示例菜单             
        .weui-actionsheet__cell 示例菜单             
        .weui-actionsheet__cell 示例菜单


