.page.js_show.msg

  .page__hd
    h1.page__title Msg    
    p.page__desc 提示页
 
  .page__bd.page__bd_spacing
    a.weui-btn.weui-btn_default 成功提示页      
    a.weui-btn.weui-btn_default 失败提示页

  .page__ft
    a
      img(src="./images/icon_footer_link.png")
