.page.js_show

  .page__hd
    h1.page__title Progress 
    p.page__desc 进度条

  .page__bd.page__bd_spacing
    .weui-progress

      .weui-progress__bar
        .weui-progress__inner-bar.js_progress(
					style="width: 0%;"
					)

      a.weui-progress__opr
        i.weui-icon-cancel     
    br  
    .weui-progress

      .weui-progress__bar
        .weui-progress__inner-bar.js_progress(
					style="width: 50%;"
				)
       
      a.weui-progress__opr
        i.weui-icon-cancel     
    br
    .weui-progress

      .weui-progress__bar
        .weui-progress__inner-bar.js_progress(
					style="width: 80%;"
				)    

      a.weui-progress__opr
        i.weui-icon-cancel

    .weui-btn-area
      a.weui-btn.weui-btn_primary 上传
   
